body {
    background-color: #B9D9EB;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    border: none;
    padding: 70px 20px 0 20px;
    border-radius: 20px;
    font-size: 45px;
    font-weight: bolder;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0 70px;
    gap: 50px;
}

.box {
    position: relative; /* Establish a positioning context for child elements */
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 400px;
    transition: 500ms;
}
/* Adjust the box size and spacing */

.box:hover {
    background-color: #EDEFF2;
    transform: scale(1.1);
    transition: 500ms;
}

.heading {
    font-size: 1.5em;
    line-height: 1.5;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.github-image-container {
    position: absolute; /* Anchor the logo to the bottom of the box */
    bottom: 10px; /* Distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for perfect centering */
    display: flex;
    padding-bottom: 10px;
    padding-top: 300px !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    align-items: center;
    justify-content: center;
    margin-top: 210px !important;
}

.github-image-container img {
    width: 65px;
    height: 65px;
}

.text {
    margin-bottom: 50px;
}