body {
    background-color: #B9D9EB;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0 70px;
    gap: 50px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    border: none;
    padding: 70px 20px 1px 20px;
    border-radius: 20px;
    font-size: 45px;
    font-weight: bolder;
}

.box {
    flex: 1 1 calc(33.333% - 20px); /*keep the width settings*/
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 30px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 400px;
    font-size: larger;
    transition: 500ms;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.heading {
    font-size: 1.5em;
    line-height: 1.5;
}

.github-image-container {
    display: flex;
    background-color: transparent !important;
    border: none !important;
    color: inherit !important;
    padding: 0 !important;
    box-shadow: none !important;
    text-decoration: none !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.github-image-container img {
    width: 65px;
    height: 65px;
}

.box:hover {
    background-color: #EDEFF2;
    transform: scale(1.1);
    transition: 500ms;
}