body {
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif !important;
    background: #B9D9EB;
    text-align: center;
}

#word {
    font-size: 2em;
    letter-spacing: 0.2em;
    max-width: 20em;
    margin: 5em auto 0 auto;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em auto; /* space outside the group */
    max-width: 60em;
}

#letters button {
    margin: 0.5em;
    background: #7abbe3;
    border: 0.15em solid #6b8cf3;
    border-radius: 0.3em;
    font-size: 1.5em;
    max-width: 5em;
}

#status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25em;
    font-size: 2em;
    background: white;
    padding: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 20em;
    margin: 0 auto 3em auto;
}

#used_letters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25em;
    font-size: 2em;
    background: white;
    padding: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    max-width: 20em;
    margin: 5em auto 0 auto;
}