body {
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
}
#word {
    font-size: 2em;
    letter-spacing: 0.2em; }
#letters button {
    margin: 4px;
    background: #7abbe3;
    border: 2px solid #6b8cf3;
    border-radius: 5px;
    font-size: 1.5em;
}