body{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar{
    background: radial-gradient(circle, cadetblue, cornflowerblue);
    padding: 5px 1px;
    font-size: 20px;
}

.nav-item {
    margin-right: 200px; /* Space between items */
}
.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    color: white;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}