body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("/pics/Car.png") !important;
}

.navbar {
    background: radial-gradient(circle, gray, black);
    padding: 5px 1px;
    font-size: 20px;
}

.nav-item {
    margin-right: 0; /*space between items*/
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

.nav-link:active {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

.navbar-content {
    color: white;
}

.navbar-content:hover {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

.navbar-content:active {
    color: lightblue !important;
    transition: transform 0.5s ease;
}