/*periodic-table.html*/

#mainpage {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to bottom, #7abbe3, #ffffff, #7abbe3);
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

#main-content {
    padding: 20px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    a:link, a:visited, a:active {
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }

    a:hover {
        color: #000000;
        background-color: transparent;
        text-decoration: underline;
        /*font-size: 40px;*/
    }
}

a:link, a:visited, a:active {
    display: block;
}

.outer-group {
    background-color: rgba(209, 255, 250, 0.59);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 20px;
}

#user-info {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 35px;
}

#logout-button {
    margin-left: 10px;
}

/*table*/

table, tr, td {
    border: 2px solid rgb(0, 0, 0);
    padding: 0;
    border-radius: 13px;
    text-align: center;
    margin: 10px 0;
}

th {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
    margin: 10px 0;
}

tr {
    padding: 10px 10px;
}

td {
    min-width: 70px;
    position: relative;
    transition: transform 0.2s ease;
}

#description tr td {
    min-width: 170px !important;
}

/*#extra-elements td {
    min-width: 65px;
}*/

td:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 10px #000000;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

/*specific visibility properties*/

.period {
    min-width: 50px !important;
}

.period:hover {
    transform: none !important;
    box-shadow: none !important;
    z-index: 0 !important;
}

.invisible {
    pointer-events: none;
    border: none;
    background-color: transparent;
}

/*periodic table element groups*/

.noble-gas {
    background-color: #ffe7eb;
    color: #d05c95;
    border-color: #d05c95;

    a:link, a:visited, a:active {
        color: #d05c95;
        display: block;
        padding: 10px 10px;
    }
}

.reactive-non-metal {
    background-color: #e2eeff;
    color: #407bf1;
    border-color: #407bf1;

    a:link, a:visited, a:active {
        color: #407bf1;
        display: block;
        padding: 10px 10px;
    }
}

.metalloid {
    background-color: #fef7e0;
    color: #a37933;
    border-color: #a37933;

    a:link, a:visited, a:active {
        color: #a37933;
        display: block;
        padding: 10px 10px;
    }
}

.post-transition-metal {
    background-color: #ffe6d4;
    color: #0e380f;
    border-color: #0e380f;

    a:link, a:visited, a:active {
        color: #0e380f;
        display: block;
        padding: 10px 10px;
    }
}

.transition-metal {
    background-color: #f3e8fd;
    color: #6b8cf3;
    border-color: #6b8cf3;

    a:link, a:visited, a:active {
        color: #6b8cf3;
        display: block;
        padding: 10px 10px;
    }
}

.unknown-properties {
    background-color: #e7e7ea;
    color: #5e586c;
    border-color: #5e586c;

    a:link, a:visited, a:active {
        color: #5e586c;
        display: block;
        padding: 10px 10px;
    }
}

.alkali-metal {
    background-color: #d8f8ff;
    color: #6cadb8;
    border-color: #6cadb8;

    a:link, a:visited, a:active {
        color: #6cadb8;
        display: block;
        padding: 10px 10px;
    }
}

.alkaline-earth-metal {
    background-color: #ffe7eb;
    color: #dd2d2e;
    border-color: #dd2d2e;

    a:link, a:visited, a:active {
        color: #dd2d2e;
        display: block;
        padding: 10px 10px;
    }
}

.lanthanide {
    background-color: #e2eeff;
    color: #2b5592;
    border-color: #2b5592;

    a:link, a:visited, a:active {
        color: #2b5592;
        display: block;
        padding: 10px 10px;
    }
}

.actinide {
    background-color: #ffe6d4;
    color: #d56235;
    border-color: #d56235;

    a:link, a:visited, a:active {
        color: #d56235;
        display: block;
        padding: 10px 10px;
    }
}

/*search bar*/

.ui-input-container {
    position: relative;
    width: auto;
}

.ui-input {
    width: auto;
    padding: 10px 10px 10px 40px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
}

.ui-input:focus {
    border-color: #6c63ff;
}

.ui-input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #6c63ff;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.ui-input:focus + .ui-input-underline {
    transform: scaleX(1);
}

.ui-input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(108, 99, 255, 0.1);
    transition: width 0.3s;
}

.ui-input:focus ~ .ui-input-highlight {
    width: 100%;
}

.ui-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: color 0.3s;
}

.ui-input:focus ~ .ui-input-icon {
    color: #6c63ff;
}

.ui-input-icon svg {
    width: 20px;
    height: 20px;
}

/*navbar settings*/

.navbar {
    background: #333;
    padding: 5px 1px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    margin-right: 5px;
}

.navbar-nav {
    display: flex;
    gap: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

.nav-link:active {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

.navbar-content {
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar-content:hover {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

.navbar-content:active {
    color: lightblue !important;
    transition: transform 0.5s ease;
}

#navbar-nav-dropdown{
    color: white;
}

/* radio settings 👇 */

.theme-popup {
    /*total*/
    --total_text_color: #e0e0e0;
    --total_font_family: Menlo, Roboto Mono, monospace;

    /*button*/
    --btn_bg: #333;
    --btn_padding: 0.5em;
    --btn_height: 2em;
    --btn_border_radius: 0.3125em;
    --btn_outline_width: 0.0625em;
    --btn_outline_color: #A0A0A0;
    --btn_outline_offset: 0.0625em;
    --btn_gap: 0.3125em;

    /*list*/
    --list_padding: 0.5em;
    --list_bg: var(--btn_bg);
    --list_border_radius: var(--btn_border_radius);
    --list_gap: 0.1875em;
    --list_btn_hover_bg: #5A5656;
    --list_btn_active: #b9b9b970;
    --list_btn_border_radius: 0.25em;
    --list_btn_padding: 0.35em 1em;
    --list_btn_gap: 0.4375em;
    --list_btn_outline_width: 0.0625em;
    --list_btn_outline_color: rgb(212, 210, 210);
    --list_offset: 0.35em;
    --list_btn_font_size: 14px;
    --list_position_left: unset;
    --list_position_right: 0;

    /*👆 if you want to change sides just switch one property*/
    /*from properties to "unset" and the other to 0*/
}

.theme-popup__button .theme-popup__icons svg,
#light,
#dark,
#default,
#checkbox,
.theme-popup__list-container {
    display: none;
}

.theme-popup {
    color: var(--total_text_color);
    font-family: var(--total_font_family), sans-serif;
    position: relative;
    user-select: none;
}

.theme-popup__list-container {
    position: absolute;
    left: var(--list_position_left);
    right: var(--list_position_right);
    top: calc(var(--btn_height) + var(--list_offset));
}

.theme-popup__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.theme-popup__button {
    line-height: var(--btn_height);
    background-color: var(--btn_bg);
    padding: 0 var(--btn_padding);
    display: inline-flex;
    align-items: center;
    column-gap: var(--btn_gap);
    border-radius: var(--btn_border_radius);
    border: none;
    color: inherit;
    font-family: inherit;
    outline: none;
    font-weight: bold;
}

.theme-popup__list {
    margin: 0;
    list-style-type: none;
    padding: var(--list_padding);
    border-radius: var(--list_border_radius);
    background-color: var(--list_bg);
    display: flex;
    flex-direction: column;
    row-gap: var(--list_gap);
}

.theme-popup__list label {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: var(--list_btn_gap);
    padding: var(--list_btn_padding);
    border-radius: var(--list_btn_border_radius);
    white-space: nowrap;
}

.theme-popup__list label span {
    font-size: var(--list_btn_font_size);
}

/*actions*/

#checkbox:checked~.theme-popup__button {
    outline: var(--btn_outline_width) solid var(--btn_outline_color);
    outline-offset: var(--btn_outline_offset);
}

#checkbox:checked~.theme-popup__list-container {
    display: block;
}

.theme-popup__list label:hover,
.theme-popup__button:hover,
#checkbox:checked~.theme-popup__button {
    background-color: var(--list_btn_hover_bg);
}

#default:checked~.theme-popup__list-container label[for="default"],
#light:checked~.theme-popup__list-container label[for="light"],
#dark:checked~.theme-popup__list-container label[for="dark"] {
    background-color: var(--list_btn_active);
    outline: var(--list_btn_outline_width) solid var(--list_btn_outline_color);
}

#default:checked~label svg.default,
#light:checked~label svg.sun,
#dark:checked~label svg.moon {
    display: block;
}