/*id*/
#login {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-50deg, #009fde, #5eb1e1);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#mainpage {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#description tr td {
    min-width: 170px !important;
}

/*login*/
.login-box {
    background-color: #aad4f1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 320px;
}

.login-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.login-box button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

/*title*/
h1 {
    margin-bottom: 0;

    a:link, a:visited, a:active {
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #000000;
        background-color: transparent;
        text-decoration: underline;
        font-size: 40px;
    }
}

/*table*/
table, th, tr, td {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    margin: 10px 0;
}

td {
    min-width: 50px;
}

.period {
    min-width: 0 !important;
}

.invisible {
    border: 0;
}

/*colors for element groups*/


.noble-gas {
    background-color: #ffe7eb;
    color: #d05c95;
    border: 2px solid #d05c95;

    a:link, a:visited, a:active {
        color: #d05c95;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #d05c95;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.reactive-non-metal {
    background-color: #e2eeff;
    color:#407bf1;
    border: 2px solid #407bf1;

    a:link, a:visited, a:active {
        color: #407bf1;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #407bf1;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.metalloid {
    background-color: #fef7e0;
    color: #a37933;
    border: 2px solid #a37933;

    a:link, a:visited, a:active {
        color: #a37933;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #a37933;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.post-transition-metal {
    background-color: #ffe6d4;
    color: #0e380f;
    border:2px solid #0e380f;

    a:link, a:visited, a:active {
        color: #0e380f;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #0e380f;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.transition-metal {
    background-color: #f3e8fd;
    color: #6b8cf3;
    border:2px solid #6b8cf3;

    a:link, a:visited, a:active {
        color: #6b8cf3;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #6b8cf3;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.unknown-properties {
    background-color: #e7e7ea;
    color: #5e586c;
    border:2px solid #5e586c;

    a:link, a:visited, a:active {
        color: #5e586c;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #5e586c;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.alkali-metal {
    background-color: #d8f8ff;
    color: #6cadb8;
    border:2px solid #6cadb8;

    a:link, a:visited, a:active {
        color: #6cadb8;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #6cadb8;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.alkaline-earth-metal {
    background-color: #ffe7eb;
    color: #dd2d2e;
    border:2px solid #dd2d2e;

    a:link, a:visited, a:active {
        color: #dd2d2e;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #dd2d2e;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.lanthanide {
    background-color: #e2eeff;
    color: #2b5592;
    border:2px solid #2b5592;

    a:link, a:visited, a:active {
        color: #2b5592;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #2b5592;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}

.actinide {
    background-color: #ffe6d4;
    color: #d56235;
    border:2px solid #d56235;

    a:link, a:visited, a:active {
        color: #d56235;
        background-color: transparent;
        text-decoration: none;
        transition: 100ms;
    }
    
    a:hover {
        color: #d56235;
        background-color: transparent;
        text-decoration: underline;
        font-size: 20px;
    }
}